extends ./_layout-root.pug

block header

block footer
  footer
    div
      div &copy; Your Company. Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a>
      ul
        li
          a(href="#") Privacy & Terms

block content
  .container!= page.content